%hr
%footer
  .container
    .row
      .col-md-4 
        = Time.now.year
        Prod-E 
        .row
        = mail_to 'prode@prode.com'
        .row
      .col-md-4
        Políticas de Privacidade
        .row
        Termos e Condições
      .col-md-4
        Sobre
        .row
        = link_to 'Ensine na plataforma', new_course_path
%br